<div id="header">
    <header>
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand mx-auto" href="/">イチオシ交換ガチャ</a>

            <% if @current_user %>
                <div class="btn-group dropleft" style='position:absolute; top:4px; right: 4px'>
                    <div>
                        <img src="<%= @current_user.image_url %>" class="rounded-circle dropdown-toggle rounded-circle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <%# <img src= "/menu.svg" width="30px">  %>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <%= link_to '過去の投稿', '/users/posts', class: 'dropdown-item' %>
                            <%= link_to 'ガチャコレクション', '/users/collection', class: 'dropdown-item' %>
                            <%= link_to 'ログアウト', '/logout', class: 'dropdown-item' %>
                        </div>
                    </div>
                </div>
            <% else %>
            <a href="" class="float-right text-white"><%= link_to 'Twitterでログイン', '/auth/twitter', class: "text-white" %></a>
            <% end %>
        </nav>
    </header>
</div>