<head>
  <title><%= @post.title %> | イチオシ交換ガチャ</title>
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= @post.title %>" />
  <meta property="og:description" content="<%= @post.comment %>" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:site_name" content="イチオシ交換ガチャ" />
  <meta property="og:image" content="https://ichioshi-exchange-gacha.herokuapp.com/main-visual.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="<%= @post.comment %>" />
  <meta name="twitter:title" content="<%= @post.title %>" />
  <meta name="twitter:image" content="https://ichioshi-exchange-gacha.herokuapp.com/main-visual.png" />
  <meta name="twitter:creator" content="@watasuke221" />
</head>
<body class="bg-light" style="padding-bottom: 96px;">
  </br>
  <div class="card w-75 mx-auto d-block">
    <div class="card-body">
      <h1 class="card-title"><%= @post.title %></h1>
      <p class="card-text"><%= @post.comment %></p>
      <img src="<%= @user.image_url %>" class="rounded-circle">
      <%= link_to "#{@user.user_name}", "https://twitter.com/#{@user.user_name}" %>
    </div>
  </div>
  </br>
  <div class="text-center my-3">
    <%= link_to image_tag('/tweet.png', width: '250px'), "https://twitter.com/intent/tweet?url=#{request.url}&lang=ja&related=watasuke221:イチオシ交換ガチャの作者&text=#{@post.title} - @#{@user.user_name}さんのイチオシをゲットしました！&hashtags=イチオシ交換ガチャ", rel: 'nofollow',target: "_blank" %>
  </div>

  <div class="text-center my-3">
    <a href="/results/create"><img src="/get.png" width="250px"></a>
  </div>
</body>
