<head>
  <title><%= @post.title %> | イチオシ交換ガチャ</title>
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= @post.title %>" />
  <meta property="og:description" content="<%= @post.comment %>" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:site_name" content="イチオシ交換ガチャ" />
  <meta property="og:image" content="https://ichioshi-exchange-gacha.herokuapp.com/main-visual.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="<%= @post.comment %>" />
  <meta name="twitter:title" content="<%= @post.title %>" />
  <meta name="twitter:image" content="https://ichioshi-exchange-gacha.herokuapp.com/main-visual.png" />
  <meta name="twitter:creator" content="@watasuke221" />

  <style>
    .show-gacha-animation {
      display: none;
      text-align: center;
    }

    /* CSSアニメーションの設定 */
    .purupuru {
      animation: purupuru 0.8s linear 0s infinite;
    }

    @keyframes purupuru {
      0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
      20%  { transform: scale(1.0, 1.06) translate(-5%, -4%) skew(6deg, 0deg); }
      50%  { transform: scale(1.0, 0.94) translate(5%, 4%) skew(-6deg, 0deg); }
      65%  { transform: scale(1.0, 1.03) translate(2%, -2%) skew(-3deg, 0deg); }
      80%  { transform: scale(1.0, 0.97) translate(-2%, 2%) skew(3deg, 0deg); }
      100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
    }
  </style>
</head>
<body class="bg-light">
  <div class="show-card">
    </br>
    <div class="card w-75 mx-auto d-block">
      <div class="card-body">
        <h1 class="card-title"><%= @post.title %></h1>
        <p class="card-text"><%= @post.comment %></p>
        <img src="<%= @user.image_url %>" class="rounded-circle">
        <%= link_to "#{@user.user_name}", "https://twitter.com/#{@user.user_name}" %>
        </br>
        </br>
        <span id="wows_buttons_<%= @post.id %>" class="mr-2">
          <%= render partial: 'wows/wow', locals: { post: @post, wows: @wows} %>
        </span>

        <span id="agreements_buttons_<%= @post.id %>">
          <%= render partial: 'agreements/agreement', locals: { post: @post, agreements: @agreements} %>
        </span>

        <% if @current_user && @current_user.id == @post.user_id.to_i %>
          <div class="text-right">
            <%= link_to "編集", "/posts/#{@post.slug}/edit", class: "text-right" %>
            <%= link_to "削除", "/posts/#{@post.slug}/destroy", {method: "post"}%>
          </div>
        <% end %>

      </div>
    </div>
    </br>
    <div class="text-center my-3">
      <%= link_to image_tag('/tweet.png', width: '250px'), "https://twitter.com/intent/tweet?url=#{request.url}&lang=ja&related=watasuke221:イチオシ交換ガチャの作者&text=#{@post.title} - @#{@user.user_name}さんのイチオシをゲットしました！&hashtags=イチオシ交換ガチャ", rel: 'nofollow',target: "_blank" %>
    </div>

    <% if @credits != 0 %>
      <div class="text-center my-3">
        <a href="#"><img src="/get.png" width="250px" id="gachaButton"></a>
      </div>
    <% end %>

  </div><!-- .show-card -->
  <div class="show-gacha-animation">
    <img src="/gacha.png" id="gacha" class="purupuru" width="300px">
  </div><!-- .show-gacha-animation -->

  <script>
    var body = document.getElementsByTagName('body')[0];
    var btn = document.getElementById('gachaButton');

    // function gachaPurupuru() {
    //   document.write('');
    //   // looopAnimation("gacha", "purupuru", 800);
    // }

    function linkUrl() {
        location.href = '/results/create';
    }

    gachaButton.addEventListener('click', function(event) {
      event.preventDefault();
      $('.show-card').hide();
      $('.show-gacha-animation').show();

      setTimeout(linkUrl, 1500);
    });
  </script>
</body>
