<% if logged_in? %>

    <% unless @post.agreement_user(@current_user.id).blank? %>
        <%= link_to post_agreement_path(post_id: @post.id ,id: @post.agreements[0].id), method: :delete, remote: true, class: 'btn-reaction reacted' do %>
            <%= "#{@post.agreements_count} わかる" %>
        <% end %>
    <% else %>
        <%= link_to post_agreements_path(@post.id), method: :post, remote: true, class: 'btn-reaction' do %>
            <%= "#{@post.agreements_count} わかる" %>
        <% end %>
    <% end %>

<% else %>

    <span class="text-secondary">
        <%= "#{@post.agreements_count} わかる" %>
    </span>

<% end %>