<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125023501-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125023501-1');
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:locale" content="ja_JP" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render :partial => 'shared/header' %>
      <div id="contents" style="padding-bottom:40px; min-height: calc(100vh - 112px);">
        <% if flash[:notice] %>
          <div class="notice alert alert-warning text-center" role="alert">
            <%= flash[:notice]%>
          </div>
        <% end %>

      <%= yield %>
      </div>
      <%= render :partial => 'shared/footer' %>
    </div>
  </body>
</html>
