<!DOCTYPE html>
<html>
  <head>
    <title><%= document_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render :partial => 'shared/header' %>
      <div id="contents">
        <% if flash[:notice] %>
          <div class="notice">
            <%= flash[:notice]%>
          </div>
        <% end %>

      <%= yield %>
      </div>
      <%= render :partial => 'shared/footer' %>
    </div>
  </body>
</html>
